<html>
<head>
<title>Vue.js Pet Depot</title>
<script src="https://unpkg.com/vue"></script>
<!-- <link rel="stylesheet" type="text/css" href="assets/css/app.css"/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <header>
            <div class="navbar navbar-default">
                <h1>{{ sitename }}</h1>
            </div>
            <div class="nav navbar-nav cart navbar-right">
                <button class="btn btn-default btn-lg"
                    @click="showCheckout"
                >
                <span
                    class="glyphicon glyphicon-shopping-cart"
                >{{ cartItemCount }}</span>
                Checkout
                </button>
            </div>
        </header>
        <main>
            <div class="row product">
                <div v-if="showProduct">
                    <div class="col-xs-6">
                            <figure>
                                <img v-bind:src="product.imageGlobal">
                            </figure>
                    </div>                    
                    <div class="col-xs-6 col-expand">
                        <h1 v-text="product.title"></h1>
                        <p v-html="product.description"></p>
                        <p v-text="product.price"></p>
                        <button 
                            class="btn btn-success"
                            @click="addToCart"
                            v-if="canAddToCart"
                        >Add to cart
                        </button>
                        <button 
                            class="btn disabled"
                            v-else
                        >Add to cart
                        </button>
                    </div>
                </div>
                <div v-else>
                </div>

            </div>
        </main>
    </div>
</body >
<script>
    var webstore = new Vue({
    el: "#app",
    data: {
        sitename: "Vue.js shop project",
        product: {
            id: 1001,
            title: "Cat food",
            description: "Some food for cat with. Such <em>tasty</em>",
            price: 1000,
            image: "assets/images/product-fllsize.png",
            imageGlobal: "https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500",
            availableInventory: 5
        },
        cart: [],
        showProduct: true,
    },
    methods: {
        addToCart: function(){
            console.log(`Call add to cart for ${this.product.id}`)
            this.cart.push( this.product.id )
        },
        showCheckout() {
            this.showProduct = !this.showProduct
        }
    },
    computed: {
        cartItemCount: function(){
            return this.cart.length || 0
        },
        canAddToCart: function(){
            return this.product.availableInventory > this.cartItemCount
        }
    }
    });
    console.log(webstore)
</script>
</html>